<a href="https://colab.research.google.com/github/AlfinMasHo/DecisionTree/blob/main/DecisionTree.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [6]:
#Import library numpy, pandasdan scikit-learn
import numpy as np
import pandas as pd
from sklearn import tree

In [7]:
#Membaca dataset dari file ke pandas dataframe
irisDataset = pd.read_csv('iris.csv', delimiter=',', header=0)

In [8]:
irisDataset.head()

  Id;SepalLengthCm;SepalWidthCm;PetalLengthCm;PetalWidthCm;Species
0              1;7;03.02;04.07;01.04;Iris-versicolor
1          2;06.04;03.02;04.05;01.05;Iris-versicolor
2          3;06.09;03.01;04.09;01.05;Iris-versicolor
3              4;05.05;02.03;4;01.03;Iris-versicolor
4          5;06.05;02.08;04.06;01.05;Iris-versicolor

In [10]:
irisDataset["Species"] = pd.factorize(irisDataset.Species)[0]

AttributeError: ignored

In [11]:
irisDataset.head()

  Id;SepalLengthCm;SepalWidthCm;PetalLengthCm;PetalWidthCm;Species
0              1;7;03.02;04.07;01.04;Iris-versicolor
1          2;06.04;03.02;04.05;01.05;Iris-versicolor
2          3;06.09;03.01;04.09;01.05;Iris-versicolor
3              4;05.05;02.03;4;01.03;Iris-versicolor
4          5;06.05;02.08;04.06;01.05;Iris-versicolor

In [12]:
print(irisDataset)

   Id;SepalLengthCm;SepalWidthCm;PetalLengthCm;PetalWidthCm;Species
0               1;7;03.02;04.07;01.04;Iris-versicolor
1           2;06.04;03.02;04.05;01.05;Iris-versicolor
2           3;06.09;03.01;04.09;01.05;Iris-versicolor
3               4;05.05;02.03;4;01.03;Iris-versicolor
4           5;06.05;02.08;04.06;01.05;Iris-versicolor
..                                                ...
95              96;06.07;3;05.02;02.03;Iris-virginica
96              97;06.03;02.05;5;01.09;Iris-virginica
97                  98;06.05;3;05.02;2;Iris-virginica
98          99;06.02;03.04;05.04;02.03;Iris-virginica
99             100;05.09;3;05.01;01.08;Iris-virginica

[100 rows x 1 columns]

In [ ]:
irisDataset = irisDataset.drop(labels="Id", axis=1)

In [13]:
print(irisDataset)

   Id;SepalLengthCm;SepalWidthCm;PetalLengthCm;PetalWidthCm;Species
0               1;7;03.02;04.07;01.04;Iris-versicolor
1           2;06.04;03.02;04.05;01.05;Iris-versicolor
2           3;06.09;03.01;04.09;01.05;Iris-versicolor
3               4;05.05;02.03;4;01.03;Iris-versicolor
4           5;06.05;02.08;04.06;01.05;Iris-versicolor
..                                                ...
95              96;06.07;3;05.02;02.03;Iris-virginica
96              97;06.03;02.05;5;01.09;Iris-virginica
97                  98;06.05;3;05.02;2;Iris-virginica
98          99;06.02;03.04;05.04;02.03;Iris-virginica
99             100;05.09;3;05.01;01.08;Iris-virginica

[100 rows x 1 columns]

In [ ]:
irisDataset = irisDataset.to_numpy()

In [14]:
print(irisDataset)

   Id;SepalLengthCm;SepalWidthCm;PetalLengthCm;PetalWidthCm;Species
0               1;7;03.02;04.07;01.04;Iris-versicolor
1           2;06.04;03.02;04.05;01.05;Iris-versicolor
2           3;06.09;03.01;04.09;01.05;Iris-versicolor
3               4;05.05;02.03;4;01.03;Iris-versicolor
4           5;06.05;02.08;04.06;01.05;Iris-versicolor
..                                                ...
95              96;06.07;3;05.02;02.03;Iris-virginica
96              97;06.03;02.05;5;01.09;Iris-virginica
97                  98;06.05;3;05.02;2;Iris-virginica
98          99;06.02;03.04;05.04;02.03;Iris-virginica
99             100;05.09;3;05.01;01.08;Iris-virginica

[100 rows x 1 columns]

In [ ]:
dataTraining = np.concatenate((irisDataset[0:40, :], irisDataset[50:90, :]), axis=0)
dataTesting = np.concatenate((irisDataset[40:50, :], irisDataset[90:100, :]), axis=0)

In [17]:
print(dataTesting)
len(dataTesting)

NameError: ignored

In [16]:
inputTraining = dataTraining[:, 0:4]
inputTesting = dataTesting[:, 0:4]
labelTraining = dataTraining[:, 4]
labelTesting = dataTesting[:, 4]
print(labelTraining)
len(labelTraining)

NameError: ignored

In [ ]:
model = tree.DecisionTreeClassifier()

In [ ]:
model = model.fit(inputTraining, labelTraining)

In [ ]:
hasilPrediksi = model.predict(inputTesting)
print("Label Sebenarnya : ", labelTesting)
print("Hasil Prediksi : ", hasilPrediksi)

In [ ]:
prediksiBenar = (hasilPrediksi == labelTesting).sum()
prediksiSalah = (hasilPrediksi != labelTesting).sum()
print("Prediksi Benar :", prediksiBenar, "data")
print("Prediksi Salah :", prediksiSalah, "data")
print("Akurasi :", prediksiBenar/(prediksiBenar+prediksiSalah) * 100, "%")